.footer {
    position: fixed;
    /* it fixed footer to the bottom */
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 97%;
    background-color: #282828;
    padding: 20px;
}

/* we make the parent flex so we do this */

.footer-left {
    flex: 0.3;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
    max-width: 300px;


}

.footer-center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer-right {
    flex: 0.3;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: white;
     
    
}

.footer-albumPhoto{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

/* giving green color to next and previous icon */
.footer-green{
    color: red;
}

.footer__songInfo >h4{
    margin-bottom: 5px;
}
.footer__songInfo>p{
    font-size: 13px;
}

/* giving hoover effect to the icons */
.footer-icon:hover,.footer-green:hover{
    transition: trnasform 0.2 ease-in-out;
    transform: scale(1.2) !important;
}
/* giving slider a green color */
.footer-right * .MuiSlider-root{
      color: red;
      
}