* {
 margin: 0;
}

 

 

body {
  margin: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   -webkit-font-smoothing: antialiased; 
   /* Gnerally used in browsers that use the WebKit rendering engine, such as Chrome and Safari.-webkit-font-smoothing property with the value antialiased is used to make text appear smoother and more readable by reducing jagged edges on font characters.  */
   -moz-osx-font-smoothing: grayscale;
   /* rendering engine, like Firefox. adjusts the way fonts are displayed to make them look better */
}

code{
  font-family:'source-code-pro', 'Menlo', 'Monaco', monospace;
  ;
}

 
 

 