.songRow{
    margin-left: 20px;
    padding: 20px; ;
    display: flex;
    align-items: center;
    /* z-index: 100; */
    /* When elements have the same z-index, the one that appears later in the HTML code will be displayed
     /* on top of the ones that appear earlier. This is because the browser renders elements in the order they are written in the HTML. */ 
    color: white;
}

.songRow:hover{
    cursor: pointer;
    /* The value pointer for the cursor property changes the cursor to a hand (or pointing finger) icon, which typically indicates that the element is clickable, such as a hyperlink or a button. */
    background-color: black;
    opacity: 0.8;
}

.songRow-info{
 margin-left: 20px;
}

.songRow-info >h2{
    font-size: 16px;
}

.songRow-info>p{
    font-size:14px ;
    margin-top: 3px;
    color: gray;
}

.songRow-album{
    height: 40px;
    width: 40px;
}